/* ---------------------------------------Colours */
:root {
  --red-block: #fe3460;
  --green-block: #47ff47;
  --orange-block: #ff8b33;
  --pink-block: #da47ff;
  --tourquise-block: #70eaff;
  --yellow-block: #ffda33;
  --dark-blue: #272879;
  --mid-blue: #4079e2;
  --light-blue: #99dbff;
}

/* ---------------------------------------Fonts */
body {
  font-family: "Geo", sans-serif;
  font-weight: bold;
  color: var(--light-blue);
  background-color: var(--mid-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aldrich", sans-serif;
}

/* --------------------------------General Styles */
.box {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 3px ridge var(--light-blue);
  border-radius: 10px;
}

.grid-box {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 3px ridge var(--light-blue);
  border-radius: 5px;
}

.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
}

.button:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 3px ridge var(--dark-blue);
  cursor: pointer;
}

.square {
  height: 28px;
  width: 28px;
  background-color: var(--dark-blue);
  border: 1px solid #4079e233;
}

.block {
  width: 24px;
  height: 24px;
  border: 3px outset;
}
/* ---------------------------------------Header */
header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  margin: 0 auto;
}

header ul {
  list-style: none;
  margin-bottom: 0;
}

header li {
  display: inline-block;
  color: var(--light-blue);
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header li:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.menu-icon {
  display: none;
}

/* ---------------------------------------Main */
main {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

main section {
  width: 30vw;
  margin: 0 auto;
}

/* ------------------------------Left Section */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* ------------------------------Middle Section */
.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#startButtonSmall {
  display: none;
}

#gameBox {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  height: 600px;
  width: 300px;
  border: 3px ridge var(--light-blue);
  border-radius: 5px;
  overflow: hidden;
}

.touch-controls {
  text-align: center;
  font-size: 2rem;
  display: none;
}

.touch-controls i {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* ------------------------------Right Section */
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#previewBox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 120px;
  width: 120px;
}

.scores {
  margin-top: 1rem;
  padding: 0 1rem;
  width: 50%;
}

/* ------------------------------------Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #4079e2b3;
}

.modal-content {
  margin: 20vh auto;
  max-width: 50vw;
}

.modal-content > * {
  margin: 1rem auto;
  padding: 0 1rem;
}

#close {
  margin: 0;
  color: var(--light-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: var(--mid-blue);
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------Contact Form */
input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem;
  width: 80%;
  border: 3px ridge var(--mid-blue);
  border-radius: 10px;
  color: var(--dark-blue);
}

form {
  text-align: center;
}

form button {
  background-color: var(--mid-blue);
  color: var(--light-blue);
  border: 3px ridge var(--light-blue);
  border-radius: 10px;
}

/* -----------------------------Media Queries */
@media screen and (max-width: 1024px) {
  .left {
    width: 25%;
  }

  .centre {
    width: 50%;
  }

  .right {
    width: 25%;
  }
}

@media screen and (max-width: 680px) {
  header {
    align-items: center;
  }

  header li {
    display: block;
  }

  .left {
    width: 20%;
  }

  .centre {
    width: 60%;
  }

  .right {
    width: 20%;
  }

  #gameBox {
    height: 400px;
    width: 200px;
  }

  .square {
    height: 18px;
    width: 18px;
    background-color: var(--dark-blue);
    border: 1px solid #4079e233;
  }

  .block {
    width: 14px;
    height: 14px;
    border: 3px outset;
  }

  .touch-controls {
    display: block;
  }

  .button {
    font-size: 1rem;
  }

  .modal-content {
    max-width: 80vw;
    max-height: 50vh;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 450px) {
  header {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2rem;
  }

  header ul {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    justify-content: flex-end;
  }

  .left {
    display: none;
  }

  .centre {
    width: 100%;
  }

  .right {
    display: none;
  }

  #startButtonSmall {
   display: block;
   margin: 0 auto;
 }
}
