/* ---------------------------------------Colours */
:root {
  --red-block: #fe3460;
  --green-block: #47ff47;
  --orange-block: #ff8b33;
  --pink-block: #da47ff;
  --tourquise-block: #70eaff;
  --yellow-block: #ffda33;
  --dark-blue: #272879;
  --mid-blue: #4079e2;
  --light-blue: #99dbff;
}

/* ---------------------------------------Fonts */
body {
  font-family: "Geo", sans-serif;
  font-weight: bold;
  color: var(--light-blue);
  background-color: var(--mid-blue);
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aldrich", sans-serif;
}

/* --------------------------------General Styles */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 3px ridge var(--light-blue);
  border-radius: 10px;
}

.grid-box {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 3px ridge var(--light-blue);
  border-radius: 5px;
}

.square {
  height: 28px;
  width: 28px;
  background-color: var(--dark-blue);
  border: 1px solid #4079e233;
}

.block {
  width: 24px;
  height: 24px;
  border: 3px outset;
}

.button {
  padding: 0.5rem 2rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
}

.button:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 3px ridge var(--dark-blue);
  cursor: pointer;
}

/* ---------------------------------------Header */
header {
  padding: 1rem 0;
}

h1 {
  display: inline-block;
  font-size: 3rem;
  margin: 0 2rem;
}

header ul {
  display: inline-block;
}

header li {
  display: inline-block;
  color: var(--light-blue);
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header li:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.menu-icon {
  display: none;
  margin: 0;
  font-size: 1.5rem;
}

/* ---------------------------------------Main */
main {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  width: 30%;
  max-width: 480px;
  padding: 0 1rem;
}

/* ------------------------------Left Section */
.left {
  align-items: flex-end;
}

/* ------------------------------Middle Section */
.centre {
  min-width: 320px;
}

#startButtonSmall {
  display: none;
  margin: 0 auto;
}

#gameBox {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  height: 600px;
  width: 300px;
  border: 3px ridge var(--light-blue);
  border-radius: 5px;
  overflow: hidden;
}

.touch-controls {
  text-align: center;
  font-size: 2rem;
}

.touch-controls i {
  padding: 0 1rem;
}

/* ------------------------------Right Section */
#previewBox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 120px;
  width: 120px;
}

.scores {
  margin-top: 1rem;
  padding: 0 1rem;
  width: 80%;
  max-width: 180px;
}

.scores h4 {
  margin: 1rem 0;
}

.scores p {
  margin-bottom: 1rem;
}

/* ------------------------------------Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #4079e2b3;
}

.modal-content {
  margin: 20vh auto;
  max-width: 50vw;
}

.modal-content h2 {
  margin: 1rem;
  font-size: 125%;
}

.close-button {
  margin: 0;
  padding: 0 1rem;
  color: var(--light-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: var(--mid-blue);
  text-decoration: none;
  cursor: pointer;
}
/* -------------------------------------Rules Modal */
.rules-box {
  margin: 0 1rem 1rem 1rem;
}

.rules, .controls {
  margin-bottom: 1rem;
}

.rules-box h3 {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.rules-box p {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.rules-box li {
  list-style: disc;
  margin-left: 3rem;
}

/* --------------------------------Scoreboard Modal */
.scoreboard-box {
  width: 30vw;
  min-width: 300px;
  text-align: center;
}

.scoreboard-box ol {
  margin: 1rem;
}

.scoreboard-box li {
  padding: 0.25rem 0;
}

/* ---------------------------=-----Game over Modal */
#gameOverModal p {
  margin-left: 1rem;
}

.play-again {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* ------------------------------------Contact Form */
#contactModal p {
  margin: 1rem auto;
  width: 80%;
}

input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  display: block;
  margin: 0.5rem auto;
  padding: 0.25rem;
  width: 80%;
  border: 3px ridge var(--mid-blue);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--dark-blue);
}

form {
  text-align: center;
}

form button {
  margin: 1rem auto;
  background-color: var(--mid-blue);
  color: var(--light-blue);
  border: 3px ridge var(--light-blue);
  border-radius: 10px;
}

/* -----------------------------Media Queries */
@media screen and (max-width: 770px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #menuModal .modal-content {
    width: 50vw;
    text-align: center;
  }

  .modal-content {
    max-width: 80vw;
    max-height: 50vh;
    overflow-y: scroll;
  }

  li {
    padding: 0.5rem 0;
  }

  main {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
    margin-right: 0;
  }

  main {
    margin: 0;
  }
  .left {
    display: none;
  }

  .centre {
    width: 100%;
  }

  .right {
    display: none;
  }

  #startButtonSmall {
   display: block;
 }
}
