/* ---------------------------------------Fonts */
body {
  font-family: "Geo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aldrich", sans-serif;
}

/* ---------------------------------------Header */
header a,
header h1 {
  display: inline-block;
}

/* ---------------------------------------Main */
main {
  display: flex;
  flex-wrap: wrap;
}

main section {
  width: 30vw;
  height: 80vh;
  margin: 0 auto;
  background-color: blue;
}

/* ------------------------------Left Section */
/* ------------------------------Middle Section */
/* ------------------------------Right Section */
